* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --global-primary-color: #ffffff;
  --global-secondary-color: #272C2C;

  --global-input-color: #3b3b3b;

  --global-primary-font-size: 22px;

  --global-primary-font-weight: 500;

  --global-primary-background-color: #e9e7e7;
  --global-secondary-background-color: #88AA85;
  --global-third-background-color: #309883;
  --global-fourth-background-color: #f5f6fa;

  --global-P-bg-color: #EFF3F4;
}
